.border-box, a, article, aside, blockquote, body, code, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], legend, li, main, nav, ol, p, pre, section, table, td, textarea, th, tr, ul {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html {
  line-height: 1.15;
  transition: all 1s ease-in-out;
}

body {
  margin: 0;
}

.shadow {
  box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
}

.number {
  font-weight: bold;
}

.heading {
  font-weight: normal;
  color: grey;
}

.rounded {
  border-radius: .75rem!important;
}

.hidden {
  display: none;
}

.icon {
  width: 48px;
  height: 48px;
  line-height: .75;
}

select {
  background: white;
  border: none;
  padding-left: 1rem;
  box-shadow: 0px 0px 5px rgba(73,80,87,.25);
  font-size: 1.65rem;
  font-weight: bold;
}

small {
  font-size: 60% !important;
  --positive-color: red;
  --negative-color: green;
}

.main > .row:first-of-type > div {
  height: 105px;
}

small.recovered {
  --positive-color: green;
  --negative-color: red;
}

small.positive {
  color: var(--positive-color);
}

small.negative {
  color: var(--negative-color);
}

.maw-90-p {
  max-width: 90%;
}

.w-200{
  width: 200px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  box-shadow: -5px 0px 25px rgba(0,0,0,0.15);
}

.footer-spacing {
  padding-bottom: calc(175px + 1.5rem) !important;
}

canvas {
  max-height: 350px;
  max-width: 700px;
  margin: 0 auto;
}

small {
  font-size: 50% !important;
}

@media (min-width:992px) {
  .maw-90-p {
    max-width: 80%;
  }
}

@media (max-width:576px) {
  .icon {
    position: absolute;
    top: 7.5px;
  }

  span > img {
    width: 36px;
    height: 36px;
  }
}
